 * {
     margin: 0;
     padding: 0;
     font-size: 24px;
 }

 #zhuye {
     position: absolute;
 }

 .daohang {
     background: #000000;
     width: 100%;
     height: 64px;
     position: absolute;
 }

 ul {
     list-style-type: none;
     text-align: center;
     position: relative;
     overflow: hidden;
 }

 ul li {
     float: left;
     width: 100px;
     height: 35px;
     text-align: center;
     padding: 15px;
     margin: 0px auto;
     line-height: 30px;
 }

 ul a {
     display: inline-block;
     text-decoration: none;
     color: #FFF;
 }

 a:hover {
     text-decoration: underline;
     color: #000000;
 }

 ul a:hover {
     background: rgba(255, 241, 203, 0.87);

 }


 h1 {
     margin-top: 30px;
     text-align: center;
     font-size: 32px;
 }

 .im {

     width: 100%;
 }

 .rexiao {
     margin-top: 20px;
     text-align: center;
     background: #ffffff;
     margin-left: 200px;
     height: 630px;
 }

 .rexiao1 {
     float: left;
     margin-left: 100px;
 }

 .rexiao2 {
     float: left;
     margin-left: 35px;
 }

 .rexiao3 {

     margin-top: 30px;
 }

 .rexiao4 {
     margin-top: 0px;
     float: left;
     margin-left: 35px;
 }

 .ss4 {
     padding-left: 23px;
 }

 .ss6 {
     position: absolute;
     margin-top: 30px;
     margin-left: -150px;
 }

 . h1 {
     margin-top: 30px;
     font-size: 32px;
 }

 h2 {
     text-align: center;
     font-size: 32px;
     padding-top: 20px;
     margin-top: 30px;
 }

 .bj2 {
     height: 660px;
     background: #f0f0f0;
     background-size: 100%;
 }

 .lll {
     width: 100%;
     text-align: center;
     margin-left: 240px;
 }

 .pj1 {
     background: url(img/pj1.png) no-repeat left top;
     margin-top: 30px;
     height: 520px;
     width: 340px;
     float: left;
 }

 .pj2 {
     background: url(img/pj1.png) no-repeat left top;
     margin-top: 30px;
     height: 520px;
     width: 340px;
     float: left;
     margin-left: 25px;
 }

 .pj3 {
     background: url(img/pj1.png) no-repeat left;
     margin-top: 25px;
     height: 520px;
     width: 340px;
     float: left;
     margin-left: 25px;
 }

 .pj4 {
     background: url(img/pj1.png) no-repeat left;
     margin-top: 25px;
     height: 520px;
     width: 340px;
     float: left;
     margin-left: 25px;
 }

 .wenzi1 {
     padding-top: 20px;
     padding-left: 20px;
     font-size: 48px;
 }


 .er2 {
     text-decoration: none;
     text-decoration-line: none;
 }


 .ee2 {
     padding-top: 140px;
     font-size: 18px;
     color: #47a6de;
     text-decoration-line: none;
 }

 .er3 {
     text-decoration: none;
     text-decoration-line: none;
     ;
 }

 .ee1 {
     padding-top: 140px;
     font-size: 18px;
     color: #47a6de;
     text-decoration-line: none;
     \
 }

 .er1 {
     text-decoration: none;
     text-decoration-line: none;
 }

 .ee3 {
     padding-top: 145px;
     font-size: 18px;
     color: #47a6de;
     text-decoration-line: none;
 }

 .ee4 {
     padding-top: 145px;
     font-size: 18px;
     color: #47a6de;
     text-decoration-line: none;
 }

 .er4 {
     text-decoration: none;
     text-decoration-line: none;
 }

 .row {
     float: left;
 }

 .col-md-2 {
     float: left;
     margin: 0;
     padding: 0;

 }



 .T1 {
     float: left;
 }





 .T2 {
     float: right;
 }
